.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
  }
  
  #videoCar {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  
  
  .container { 
      position: absolute;
      top: 40%;
      left: 20%;
      margin: -150px 0 0 -150px;
      width:600px;
      height:300px;
  }
  
  .sha {
    text-shadow: 2px 2px gray;
    background:transparent
  }